a, body {
  color: #4a4a4a;
}

html {
  text-align: center;
}

body {
  background-color: #f7f7f7;
  font-family: proxima-nova-reg, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.nav-icon {
  float: left;
}

.search-icon {
  float: right;
}

.nav-bar {
  background-color: #fff;
}

.media {
  background-color: #fff;
  margin: 0 auto;
  max-width: 340px;
  padding: 40px 12%;
  position: relative;
  text-align: left;
  z-index: 1;
}

div {
  display: block;
}

.about-header {
  letter-spacing: 4px;
  position: relative;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  font-style: italic;
  margin: 0 auto;
  text-transform: uppercase;
}

.side-bar {
  bottom: -20px;
  left: 0;
  position: absolute;
  right: 0;
  top: -20px;

}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,85baff+0,5ed7d2+100 */
.about-page {
  background: #f1e767; /* Old browsers */
  background: -moz-linear-gradient(top,  #f1e767 0%, #85baff 0%, #5ed7d2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f1e767 0%,#85baff 0%,#5ed7d2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f1e767 0%,#85baff 0%,#5ed7d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#5ed7d2',GradientType=0 ); /* IE6-9 */
  }

img .bustle-logo{
  text-align: center;
}
