<h1>BUSTLE IS FOR & BY WOMEN WHO ARE MOVING FORWARD AS FAST AS YOU ARE.</h1>

<h2>NEW FORCE IN MEDIA</h2>
<hr>
<p>
  Bustle delivers everything you want to know, see, and read right now whether you're starting your work day, taking a study break, waiting for a flight, preparing a bottle for your kid, or doing somehthing else entirely.
</p>
