<div class="container">

  <img class="col-lg-4 bustle-logo" src="bustle-logo.png" alt="" />
</div>
<div class="col-lg-4">

</div>
<header class="navbar-row">
  <!-- <img class="col-md-4 nav-icon" src="nav-icon.png" alt="" /> -->
  <!-- <img class="col-md-4 search-icon" src="search-icon.png" alt="" /> -->

  <hr>
  <hr>
</header>
<!-- <div class="side-bar">
  <div class="top-side-bar">
    <button>HOMEPAGE</button>
    <button>NEWS</button>
    <button>ENTERTAINMENT</button>
    <button>FASHION & BEAUTY</button>
    <button>LIFESTYLE</button>
    <button>BOOKS</button>
    <button>FLOWCHARTS</button>
  </div>
  <div class="middle-side-bar">
    <button>ABOUT US</button>
    <button>ADVERTISE</button>
    <button>APPS</button>
    <button>LABS</button>
    <button>TERMS</button>
    <button>PRIVACY</button>
    <button>DMCA</button>
    <button>CONTACT</button>
  </div>
  <div class="row bottom-side-bar">
    <button class="col-md-4">Follow Us</button>
    <button class="col-md-4"></button>
    <button class="col-md-4"></button>
    <button class="col-md-4"></button>
    <button class="col-md-4"></button>
  </div>
</div> -->



<div class="container">
  {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
