<h1>LIFE GETS BUSY.</h1>
<h1>WE GOT YOU.</h1>

<a href="https://itunes.apple.com/us/app/bustle/id791604919?mt=8">DOWNLOAD THE BUSTLE APP</a>

<p>
  Breaking news alerts. Live entertainment updates. Easy style tips. Laugh-out-loud memes. The Bustle app puts everything you need to know all in one place-all so you don't miss out on anything you care about.
</p>

<h1>FOLLOW YOUR FAVORITE TOPICS</h1>

<p>
  Pick from over 100 subscriptions for a personal newsfeed that will keep you up to date on all the things you love.
</p>

<h1>GET UPDATES FROM THE BEST SOURCES</h1>

<p>
  Too busy to browse? We comb the Web for articles, videos, GIFs, and more-and you get your daily news in one easy shot.
</p>

<h1>BE THE FIRST TO HEAR WHEN BIG THINGS HAPPEN</h1>

<p>
  New alerts on breaking stories mean you're always in the know, and custom notifications on your favorite topics are the ultimate cure for FOMO.
</p>

<h1>IT'S THE ONLY THING MOVING FASTER THAN YOU ARE.</h1>

<a href="https://itunes.apple.com/us/app/bustle/id791604919?mt=8">DOWNLOAD THE BUSTLE APP</a>
