
  {{#each model as |story|}}
    <div class="story-index">
      <div class="story-image">{{#link-to 'story' story.id}}
        <img src={{story.image}}>{{/link-to}}
      </div>
      <p>{{#link-to 'story' story.id}}{{story.title}}{{/link-to}}</p>
      <p>{{story.author}}</p>
    </div>
    {{/each}}
